
client/babel.config.js
client/.expo-shared
client/node_modules
client/app.json
client/.expo/web/cache/development/babel-loader
client/.vscode/launch.json
client/.vscode/.react/node_modules%5Cexpo%5CAppEntry.bundle
client/.vscode/.react/debuggerWorker.js
client/.vscode/.react/AppEntry.map
client/.expo/settings.json
client/.expo/README.md
client/.expo/packager-info.json
client/app/config/app.config.js
client/OLD_1_@arisajah__client.bak.jks
client/@arisajah__client.bak.jks
